.c-char{
    border: aqua solid 2px;
    border-radius: 12px;
    
    
}
.c-card {
        display: flex;
        flex-wrap: wrap;
        width:auto;
        margin: 60px;
        padding: 50px;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
    

        width: 250px;
        height: 370px;

        
   

}
.c-card :hover{
    box-shadow: 11px 6px 5px rgb(155, 148, 148) ;
        opacity: 0.5;
}
