.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes example {
  0%   {background-color: rgb(39, 33, 33);}
  15%  {background-color: rgb(245, 132, 39);}
  27%  {background-color: rgb(143, 143, 209);}
  45% {background-color: rgb(124, 248, 242);}
  70% {background-color: rgb(23, 3, 77);}
  100% {background-color: rgb(252, 237, 34);}
}
.App-header {
  background-color: #282c34;
  animation-name: example;
  animation-duration: 30s;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.c-nav{
  background-color: aqua;
  display: inline-block;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
}
.c-navb{
  margin: 1.5em;
 
  flex-wrap: wrap;
}
.c-navb :hover{
  box-shadow: 11px 6px 5px rgb(243, 230, 230) ;
      opacity: 0.5;
}
